@charset "UTF-8";
@font-face {
    font-family: 'Reboto';
    src: url(fontes/Roboto-Condensed.ttf);
}
@font-face {
    font-family: 'Bebas';
    src: url(fontes/BebasNeue-Regular.otf);
}
@font-face {
    font-family: 'Android';
    src: url(fontes/idroid.otf);
}
@font-face {
    font-family: 'Yanone';
    src: url(fontes/YanoneKaffeesatz-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Sans';
    src: url(fontes/OpenSans-Italic-VariableFont_wdth\,wght.ttf);
}
body {
    background-color: #72E894;
    margin: 0;
}
.conteudoprincipal {
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    padding: auto;
}
#cabeçalho {
    background-image: linear-gradient(to bottom,  #5edb8cd2, #095a27);
    margin: auto;
    padding: auto;
    max-width: 3000px;
    max-height: 400px;
    box-shadow: 2pxrgba(0, 0, 0, 0.863);
}
.titulo1 {
    color: rgba(255, 255, 255, 0.966);
    font: bold 2.5em 'Bebas';
    font-family: 'Bebas';
    text-align: center;
    text-shadow: 15px black;
    padding: 15px;
    margin: auto;
}
.paragrafo, .navegação {
    font: 1.3em 'Reboto';
}
.paragrafo {
    text-align: center;
    color: #e2ebe5e8;
    padding: 15px;
    margin: auto;
    text-shadow: 15px black;
}
.navegação {
    padding: 10px;
    margin: auto;
}
.link {
    padding: 2px 10px;
    color: white;
    text-decoration: none;
}
.link:hover {
    text-decoration: underline;
}
#conteudo,.conteudo {
    background-color: white;
    padding: 30px;
    margin: auto;
    width: auto;
}
.historiadomascotedoandroid {
    background-color: white;
    margin: auto;
    padding: 15px;
}
#titulo2, .titulo3 {
    font: 2em 'Android';
    color: #0a1f10e0;
}
.paragrafo2, .paragrafo3{
    font: 1.5em 'Reboto';
}
.marcador1 {
    color: #0b5c20;
}
.titulo3 {
    background-image: linear-gradient(to right, #4cad68af, #c0bfbfe0);
    padding: 3px 8px;
}
.link2 {
    text-decoration: none;
    color: #0b5c20;
}
.link2::after {
    content: '🔗';
}
.imagens > img {
    width: 100%;
}
#titulo4 {
    font: 500 1.7em 'Yanone';
    color: rgb(255, 255, 255);
    background-color: #0b5c20;
    margin: auto;
    padding: 15px 10px;
}
.paragrafo3 {
    background-color: #B7E7FC;
    margin: auto;
    padding: 15px;
}
#fundobranco {
    background-color: rgb(179, 171, 171);
    margin: auto;
    padding: 9px;
    border-radius: 10px;
}
#fundolistas {
    background-color: #B7E7FC
}
#lista {
    list-style: none;
    display: inline-block;
    columns: 2;
    column-gap: 200px;
    column-width: 250px;
    font-size: 1.2em;
}
#lista > li::before {
    content: '✔ ';
}
#lista {
    font-family: 'Reboto';
}
abbr {
    text-decoration: none;
}
#paragrafo4 {
    font: bolder 30px 'Sans';
    font-style: italic;
    background-color: #376342;
    width: 100%;
    margin: auto;
    text-align: center;
}
.marcador3 {
    font-size: 30px;
    font-weight: 600;
    color: white;
}
#encerramento {
    font: 1.3em 'Reboto';
}